@use "variables" as *;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin vertical-rhythm {
  margin-bottom: $spacing-unit * 0.5;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
} 